Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: 
Maintainer: Andrey Kutalev <ak@7bits.it>
Description: Distributed Actor System. Design, assembly and deploy tools.
Distribution: development
Depends: